@import '../../../../node_modules/vanillajs-datepicker/sass/datepicker';

.datepicker.datepicker-dropdown {
	width: 100%;
	max-width: 280px;
}

.datepicker.datepicker-dropdown .datepicker-picker {
	width: 100%;
}

.datepicker.datepicker-dropdown .datepicker-picker .datepicker-view .days {
	width: 100%;
}

.datepicker.datepicker-dropdown .datepicker-picker .datepicker-grid {
	width: 100%;
}

.datepicker.datepicker-dropdown .datepicker-cell {
	line-height: 35px;
	height: 35px;
}

.datepicker.datepicker-dropdown .datepicker-header .datepicker-controls {
	padding: 0;
}

.datepicker.datepicker-dropdown .datepicker-controls .button {
	padding: 17px 15px;
	font-size: 1.4rem;
}

.datepicker-cell.selected, .datepicker-cell.selected:hover {
	background-color: color("purple-800");
}
 