<section id="confirm-data" class="page page-confirm-data page-p-md" data-toggle="block-page" data-active="false">
	<div class="page-container">
		<div class="page-wrapper">
			<div class="card card-primary card-white">
				<div class="progressive">
					<div class="progressive-completed" style="width: 98%;">15%</div>
					<div class="progressive-circle" style="left: calc(100% - 23px);">DSCTO</div>
				</div>
				<div class="card-header-fields"></div>
				<div class="card-body-fields">
					<h2>¡Gracias por llenar la encuesta!</h2>
					<h3>¡Ganaste 15% OFF!</h3>
					<p>Antes de finalizar verifica tus datos <br> y respuestas</p>
					<div class="form-read-container">
						<div class="mb-2">
							<div class="form-read">
								<h1>Nombres y apellidos</h1>
								<div class="grid grid-1">
									<p id="result-names">Joa Doe</p>
								</div>
								<div class="form-read-edit">
									<button type="button" data-toggle="link" data-page-to="register" data-callbacks="disable-email"><span class="icon icon-edit"></span></button>
								</div>
							</div>
						</div>
						<div class="mb-2">
							<div class="form-read">
								<h1>Número de celular</h1>
								<div class="grid grid-2 gap-x-1">
									<p id="result-country">Perú</p>
									<p id="result-phone">000 0000 0000</p>
								</div>
								<div class="form-read-edit">
									<button type="button" data-toggle="link" data-page-to="register-mail"><span class="icon icon-edit"></span></button>
								</div>
							</div>
						</div>
						<div class="mb-2">
							<div class="form-read">
								<h1>¿Fecha de nacimiento?</h1>
								<div class="grid grid-1">
									<p id="result-birthday">DD/MM/YYYY</p>
								</div>
								<div class="form-read-edit">
									<button type="button" data-toggle="link" data-page-to="birthday"><span class="icon icon-edit"></span></button>
								</div>
							</div>
						</div>
						<div class="mb-2">
							<div class="form-read">
								<h1>¿Cuál es tu género?</h1>
								<div class="grid grid-1">
									<p id="result-gender">Femenino</p>
								</div>
								<div class="form-read-edit">
									<button type="button" data-toggle="link" data-page-to="gender"><span class="icon icon-edit"></span></button>
								</div>
							</div>
						</div>
						<div class="mb-2">
							<div class="form-read">
								<h1>¿Cuáles son tus necesidades principales?</h1>
								<div id="result-main-needs" class="form-read-grid mt-2">
									<p>1. Cuidado personal</p>
									<p>2. Perfumes</p>
									<p>3. Maquillaje</p>
									<p>4. Cuidado rostro</p>
								</div>
								<div class="form-read-edit">
									<button type="button" data-toggle="link" data-page-to="main-needs"><span class="icon icon-edit"></span></button>
								</div>
							</div>
						</div>
						<div>
							<div class="form-read">
								<h1>¿Qué productos prefieres para tu rutina de belleza?</h1>
								<div id="result-favorite-products" class="mt-2">
									<p>1. Los de tecnología innovadora con resultados comprobados.</p>
									<p>2. Los que me ayudan a mantener</p>
									<p>3. Los de ingredientes naturales</p>
									<p>4. Los que regalaría sin dudar.</p>
									<p>5. Los ideales para mi piel delicada.</p>
								</div>
								<div class="form-read-edit">
									<button type="button" data-toggle="link" data-page-to="favorite-products"><span class="icon icon-edit"></span></button>
								</div>
							</div>
						</div>
					</div>
					<form id="form-confirm-data">
						<div class="button-fixed-lg-bottom">
							<button id="btn-confirm" type="submit" class="button button-third button-tab-white mt-lg-3" data-toggle="button-step">
								Finalizar y ver cupón <span class="icon icon-arrow-right text-size-xl ml-1"></span>
							</button>
						</div>
						<div class="text-center mt-4 mt-lg-2">
							<button id="btn-confirm-data-back" type="button" class="button-inherit button-inherit-dark" data-toggle="link" data-page-to="favorite-products">&lt; Volver</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
