<section id="terms" class="page page-terms" data-toggle="block-page" data-active="true">
	<div class="container">
		<div class="terms">
			<div class="terms-wrapper">
				<h1 class="mb-3">Términos y condiciones del cupón</h1>
				<p class="mb-2"><strong>Aplica 1 vez por usuario.</strong></p>
				<p><strong>Chile:</strong> Válido para compras de hasta $250,000.</p>
				<p><strong>Colombia:</strong> Válido para compras de hasta $500,000.</p>
				<p><strong>México:</strong> Válido para compras de hasta $6,000.</p>
				<p class="mb-2"><strong>Perú:</strong> Válido para compras de hasta S/.500.</p>
				<p class="mb-4"><strong>El descuento no aplica para Bolivia, Costa Rica, Ecuador, El Salvador, Guatemala, Panamá ni República Dominicana</strong></p>
				<a href="https://cdn1-prd.beautymovers.com/Docs/Legal/PE/terminos-y-condiciones-PE-Tienda.pdf" target="_blank">Ver otros Términos y condiciones</a>
				
				
				{# <p class="mb-2"><strong>Aplica 1 vez por usuario.</strong></p>
				<p class="mb-2"><strong>No acumulable con otras promociones.</strong></p>
				<p><strong>Monto máximo para compras en mi tienda online por país:</strong></p>
				<p class="mb-2">PE: 500; CO: 500,000; MX 6,000; EC: 250.</p>
				<p class="mb-2"><strong>Monto mínimo para compras en E-commerce  <br> y mi tienda online por país:</strong></p>
				<p><strong>Para beneficio de 20% OFF:</strong></p>
				<p class="mb-2">PE: 140; CO: 110,000; MX: 750; EC: 32; CL: 28,000.</p>
				<p><strong>Para beneficio de 25% OFF:</strong></p>
				<p class="mb-2">PE: 160; CO: 130,000; MX: 900; EC: 37; CL: 32,000.</p>
				<p class="mb-4"><strong>El descuento no aplica para Bolivia, Costa Rica, Ecuador, El Salvador, Guatemala, Panamá ni República Dominicana</strong></p>
				<a href="https://cdn1-prd.beautymovers.com/Docs/Legal/PE/terminos-y-condiciones-PE-Tienda.pdf" target="_blank">Ver otros Términos y condiciones</a>
			 	#}
			</div>
		</div>
	</div>
</section>