<section id="welcome" class="page page-welcome" data-toggle="block-page" data-active="false">
	<div class="page-container">
		<div class="page-wrapper">
			<div class="card card-welcome">
				<div class="card-header">
					<h1>¡Empecemos Conociéndonos!</h1>
				</div>
				<div class="card-body">
					<p>¿Te encanta recibir recomendaciones personalizadas? Completa la encuesta <span>y lleva hasta 35% OFF</span></p>
					<form id="form-welcome">
						<fieldset class="form-group mb-4">
							<label class="form-label" for="form-welcome-mail">Ingresa tu correo</label>
							<input
								id="form-welcome-mail"
								type="text"
								name="e"
								data-toggle="state-modifier"
								data-handler="on-text"
								class="form-field"
								autocomplete="off"
								placeholder="yo@mail.com"
							>
							<span class="form-error"></span>
						</fieldset>
						<button id="btn-welcome" type="submit" class="button button-primary button-tab-purple-800">
							¡Iniciar! <span class="icon icon-arrow-right text-size-xl ml-1"></span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
