<div id="page-error-save" class="page-error">
	<div class="page-error-wrapper">
		<h1>Algo ha salido mal</h1>
		<p>Por favor vuelve a intentar</p>
		<button type="button" class="button button-third button button-tab-white" data-toggle="close-error">Volver a intentar</button>
	</div>
</div>
