<div id="page-error-server" class="page-error">
	<div class="page-error-wrapper">
		<h1>Estamos presentando problemas</h1>
		<p>Por favor recarga la página</p>
		<a href="./" class="button button-third button button-tab-white">Recargar</a>
	</div>
</div>