<footer class="footer">
	<div class="container">
		<div class="footer-wrapper">
			<div class="footer-item-links">
				<h1>Tienda LBEL</h1>
				<ul class="footer-item">
					<li class="footer-link"><a href="https://lbel.tiendabelcorp.com/sets/c/lbel-40" target="_blank">Sets</a></li>
					<li class="footer-link"><a href="https://lbel.tiendabelcorp.com/perfumes/c/lbel-03" target="_blank">Perfumes</a></li>
					<li class="footer-link"><a href="https://trends.lbel.com/catalogo/" target="_blank">Catálogo y tiendas Ofertas</a></li>
					<li class="footer-link"><a href="https://lbel.tiendabelcorp.com/maquillaje/c/lbel-02" target="_blank">Maquillaje</a></li>
					<li class="footer-link"><a href="https://lbel.tiendabelcorp.com/cuidado-de-la-piel/c/lbel-01" target="_blank">Cuidado de la piel</a></li>
					<li class="footer-link"><a href="{{ page('terminos-y-condiciones') }}" target="_blank">Términos y condiciones</a></li>
					<li class="footer-link"><a href="https://lbel.tiendabelcorp.com/cuidado-personal/c/lbel-04" target="_blank">Cuidado personal</a></li>
					<li class="footer-link"><a href="https://trends.lbel.com/magazine/?_ga=2.6723506.1652234406.1651513957-790663382.1629757044&_gac=1.19123852.1649866332.EAIaIQobChMIyoScrLWR9wIVAZXICh15TwECEAAYASAAEgJ5s_D_BwE" target="_blank">Magazine</a></li>
					{# <li class="footer-link"><a href="https://lbel.tiendabelcorp.com" target="_blank">Tienda L'BEL</a></li>
					<li class="footer-link"><a href="{{ page('terminos-y-condiciones') }}" target="_blank">Términos y condiciones</a></li> #}
				</ul>
			</div>
			<div class="footer-item-social">
				<ul class="footer-social">
					<li class="footer-social-link"><a href="https://www.youtube.com/lbelonline" target="_blank"><span class="icon icon-youtube"></span></a></li>
					<li class="footer-social-link"><a href="https://www.facebook.com/LBelOnline/" target="_blank"><span class="icon icon-facebook"></span></a></li>
					<li class="footer-social-link"><a href="https://www.instagram.com/lbelonline/" target="_blank"><span class="icon icon-instagram"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
