{% extends "templates/country.twig" %}

{% block title %}
<title>{{ title('Términos y condiciones') }}</title>
{% endblock %}

{% block content %}

<div data-toggle="block-pages-parent">
	{% include "partials/terms.twig" %}
</div>
	
{% endblock %}

{% block scripts_body %}

<script>
	window.addEventListener('DOMContentLoaded', async () => {
		document.querySelector('html').style.overflowY = 'auto';
		document.querySelector('body').style.overflowY = 'auto';
	})
</script>

{% endblock %}
