<section id="thanks" class="page page-thanks" data-toggle="block-page" data-active="true">
	<div class="page-container">
		<div id="thanks-page-wrapper" class="page-wrapper">
			<div class="card card-thanks">
				<div class="card-header">
					<h1>Gracias por tus respuestas</h1>
				</div>
				<div id="thanks-body" class="card-body" style="display: none;">
					<div class="card-body-header">
						<p>¡Alcanzaste tu meta! <span>Ganaste</span></p>
					</div>
					<div class="card-body-content">
						<div class="card-body-wrapper">
							<div class="card-body-dscto">
								<img src="{{ imageMulti("icons/dscto.png") }}" alt="En tu próxima compra">
								<p>En tu próxima compra</p>
							</div>
							<div class="card-body-text">
								<p>En tu próxima compra</p>
								<div class="card-body-coupon">
									<h3>Usa el cupón</h3>
									<h1>LBEL15</h1>
								</div>
								<a id="link-buy-here" href="https://lbel.tiendabelcorp.com.pe/cuidado-de-la-piel/c" target="_blank" class="button button-third-transparent button-min">¡Compra aquí!</a>
							</div>
						</div>
					</div>
					<div id="text-terms-container" class="card-body-footer" style="display: none;">
						<p>*Aplica 1 vez por usurario. No acumulable con otras promociones.</p>
						<p id="text-terms"></p>
						<p><a href="{{ page('terminos-y-condiciones') }}" target="_blank">TyC</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="page-info">
			<div class="info-thanks">
				<div class="info-thanks-wrapper">
					<figure class="info-thanks-image"></figure>
					<div class="info-thanks-content">
						<h1>¿Quieres conocer los productos de cuidado adecuados para ti?</h1>
						<p>Prueba ahora el avanzado diagnóstico* de piel L’BEL.</p>
						<a
							href="https://beautytech.lbel.com/pe/avanzadodiagnosticodepiel"
							target="_blank"
							class="button button-third-large"
						>¡Quiero saber!</a>
						<small>*Los resultados de Avanzado Diagnóstico de Piel no sustituyen una evaluación dermatológica.</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
