<section id="thanks" class="page page-thanks" data-toggle="block-page" data-active="true">
	<div class="page-container">
		<div id="thanks-page-wrapper" class="page-wrapper">
			<div class="card card-thanks">
				<div class="card-header">
					<h1>Gracias por tus respuestas</h1>
				</div>
				<div id="thanks-body" class="card-body" style="display: none;">
					{# <div class="card-body-header">
						<p>¡Alcanzaste tu meta! <span>Ganaste</span></p>
					</div> #}
					<div class="card-body-content">
						<div class="card-body-wrapper">
							<div style="text-align: center">
								<p><span style="font-size: 22px">Ganaste</span></p>
								<div class="card-body-dscto">
									<img src="{{ imageMulti("icons/dscto.png") }}" alt="En tu próxima compra">
									<p>En tu próxima compra</p>
								</div>
							</div>
							
							<div class="card-body-text" style="padding-top: 55px">
								<p>En tu próxima compra</p>
								<div class="card-body-coupon">
									<h3>Usa el cupón</h3>
									<h1 style="font-weight: bold">LBEL15</h1>
								</div>
							</div>
						</div>

						<div style="margin-top: 25px">
							<div class="card-body-text">
								<p style="margin-bottom: 20px">Para finalizar tu participación en el concurso, completa esta pregunta:</p>
								<p style="font-weight: bold">¿Qué esperas que los productos de L'BEL hagan por tu piel?</p>
								<textarea class="form-textarea" rows="4" cols="47" style="margin-top: 20px; margin-bottom: 17px"></textarea>
								<a id="link-buy-here" href="https://lbel.tiendabelcorp.com/mx/cuidado-de-la-piel/c/lbel-01" target="_blank" class="button button-third-transparent button-min">Enviar Respuesta</a>
							</div>

							{# <div class="card-body-wrapper">
								<div class="card-body-dscto">
									<img src="{{ imageMulti("icons/dscto.png") }}" alt="En tu próxima compra">
									<p>En tu próxima compra</p>
								</div>
								<div class="card-body-text">
									<p>En tu próxima compra</p>
									<div class="card-body-coupon">
										<h3>Usa el cupón</h3>
										<h1>UNETEX25</h1>
									</div>
									<a id="link-buy-here" href="https://lbel.tiendabelcorp.com/mx/cuidado-de-la-piel/c/lbel-01" target="_blank" class="button button-third-transparent button-min">¡Compra aquí!</a>
								</div>
							</div> #}
						</div>


					</div>
					<div id="text-terms-container" class="card-body-footer" style="display: none;">
						<p style="font-size: 10px">*Aplica 1 vez por usuario. No acumulable con otras promociones.</p>
						<p id="text-terms"></p>
						<p><a href="{{ page('terminos-y-condiciones') }}" target="_blank">TyC</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="page-info">
			<div class="info-thanks">
				<div class="info-thanks-wrapper">
					<figure class="info-thanks-image"></figure>
					<div class="info-thanks-content">
						<h1>¿Quieres conocer los productos de cuidado adecuados para ti?</h1>
						<p>Prueba ahora el avanzado diagnóstico* de piel L’BEL.</p>
						<a
							href="https://beautytech.lbel.com/co/avanzadodiagnosticodepiel?_ga=2.130669387.51794443.1649695657-790663382.1629757044&_gac=1.52045469.1649866332.EAIaIQobChMIyoScrLWR9wIVAZXICh15TwECEAAYASAAEgJ5s_D_BwE"
							target="_blank"
							class="button button-third-large"
						>¡Quiero saber!</a>
						<small>*Los resultados de Avanzado Diagnóstico de Piel no sustituyen una evaluación dermatológica.</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
