<section id="nocampaign" class="page page-welcome" data-toggle="block-page" data-active="true">
	<div class="page-container">
		<div class="page-wrapper">
			<div class="card card-welcome">
				<div class="card-header">
					<h1>¡Lo sentimos!</h1>
				</div>
				<div class="card-body text__nocampaign">
				<p>estos descuentos no aplican para tu país.</p>
				</div>
			</div>
		</div>
	</div>
</section>
