<section id="welcome-mail" class="page page-welcome-mail" data-toggle="block-page" data-active="false">
	<div class="page-container">
		<div class="page-wrapper">
			<div class="card card-welcome-mail">
				<div class="card-body">
					<h1>¡Empecemos Conociéndonos!</h1>
					<p>¿Te encanta recibir recomendaciones personalizadas? Completa la encuesta <span>y lleva hasta 15% OFF</span></p>
					<button id="btn-welcome-mail" type="button" class="button button-primary-transparent" data-toggle="button-step">
						¡Iniciar! <span class="icon icon-arrow-right text-size-xl ml-1"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
