$colors: (
	
	black: #000,
	white: #fff,

	base: #213345,
	
	coffee-500: #46382D,

	gray-300: #D2D9E0,
	gray-700: #707070,
	gray-900: #393939,

	golden-100: #D0B885,

	blue-900: #213345,

	purple-50: #DCE5ED,
	purple-200: #E5E4F1,
	purple-300: #D7D2EA,
	purple-400: #BAC5D0,
	purple-500: #664D86,
	purple-800: #20004E,
	purple-900: #2B0E48,

	red-200: #FF0000,
	
);
